.content {
  width: 250px;
  min-height: 500px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.content p:first-child{
  font-size: 20px;
}

.content p {
  font-size: 18px;
  margin: auto;
}